.App {
  text-align: center;
}

.category {
  cursor: pointer;
  font-size: 20px;
  padding-inline: 10px;
  margin: 0px;
  font-weight: 200;
}
.selected {
  font-size: 50px !important;
  color: #1976d2 !important;
}

.category:hover {
  color: #1976d2;
  font-size: 30px;
}

/* hr {
  height: 1px;
  background-color: #000000;
  border: 1px solid black;
} */
